.viewIn{
    margin-top: $mg-2;
    .view-in-course{
        margin-right: 10px;
        .course-img{
            height: 130px;
            img{
                height: 100%;
            }
        }
        .card-title{
            @include styleText($color-black-0, $fs-0, $fw-bold);
            overflow: hidden;
            height: 55px
        }
        .card-text{
            @include styleText($color-gray-4, $fs-1, $fw-normal);
            height: 30px;
        }
        .rating{
            display: flex;
            .rating_star{
                @include styleText($color-yellow, $fs-1, $fw-normal);
                margin-right:$mg-0;
            }
            span:nth-child(2){
                @include styleText($color-gray-4, $fs-1, $fw-bold);
                margin-left:$mg-0;
            }
            span:last-child{
                @include styleText($color-gray-4, $fs-1, $fw-normal);
               
            }
        }
        .price{
            padding-bottom: $pd-1;
            text-align: right;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            .old-price{
                @include styleText($color-gray-4, $fs-1, $fw-normal);
                text-decoration: line-through;
                margin-right: 5px;
            }
            .new-price{
                @include styleText($color-black-0, $fs-0, $fw-bold);
            }
        }
    }
    .viewIn__content{
        width: 75.8%;
        margin: auto;
    }
    .owl-next {
        right: -1%;
    }
    .owl-prev {
        left: -1.5%;
    }
    .owl-next, .owl-prev {
        top: 44.5%;
    }
}
//res
@include responsive("XXL"){
    .viewIn__content{
        width: 90% !important;
        .owl-next, .owl-prev{
            top: 44.5% !important;
        }
        .owl-next {
            right: -1.1% !important;
        }
        .owl-prev {
            left: -1.6% !important;
        }
    }
}
@include responsive("medium"){
    .viewIn__content{
        width: 90% !important;
        .owl-next, .owl-prev{
            top: 41.5% !important;
        }
        .owl-next {
            right: -4.5% !important;
        }
        .owl-prev {
            left: -4.5% !important;
        }
    }
}
@include responsive("large"){
    .viewIn__content{
        width: 90% !important;
        .owl-next, .owl-prev{
            top: 44.5% !important;
        }
        .owl-next {
            right: -2.7% !important;
        }
        .owl-prev {
            left: -4.7% !important;
        }
    }
}